<!--<div id="liveReport">
	 MODIFICA QUESTE LINEE
SINGLE TEMPLATE STANDARD; <h1>user_events</h1>
{if $instances != null || $instance != null}
<ul>
<li>id: {$instance->id}</li>
<li>owner: {$instance->owner->presentation}</li>
<li>title: {$instance->title}</li>
<li>lastmod: {$instance->lastmod}</li>
<li>creation: {$instance->creation}</li>
<li>date: {$instance->date}</li>
<li>active: {$instance->active}</li>
<li>body: {$instance->body}</li>
</ul>
{else}
<h1>NON CI SONO user_events</h1>
{/if}

 MODIFICA QUESTE LINEE

</div>
-->

{if $instances != null || $instance != null}
<!-- Sub Banner -->
<section class="sub-banner newsection">
    <div class="container">
        <h2 class="title">Event Detail</h2>
        <ul class="breadcrumb">
           <li><a href="index.php">Home</a></li>
            <li><a href="events.php">Events</a></li>
            <li>Event Detail</li>
        </ul>
    </div>
</section>

<!-- Event -->
<section class="events newsection">
    <div class="container">
        <div class="row">
            <div class="single-blog col-md-9">
                <section class="event-container clearfix">
                    <div class="event clearfix">
                        <div class="eventsimg">
                            <img src='data:{$instance->foto->filetype}; base64,{$instance->foto->data}' alt="{$instance->name}"/>
                        </div>
                        <div class="event-content">
                            <h3 class="title"><a href="#">{$instance->title}</a></h3>



                            <ul class="meta clearfix">
                                <li><a href="#"><i class="icon fa  fa-music"></i>{$instance->categoria->name}</a>
                                </li><li class="date"><i class="icon fa fa-calendar"></i>{$instance->date}</li>
                                <li><a href="#comments"><i class="icon fa fa-comment"></i> {$instance->user_comments|@count}</a> </li>
                                <li><a href="#"><i class="icon fa fa-user"></i>by {$instance->owner->name}</a></li>
                            </ul>

                            <p>{$instance->body}</p>

                        </div>
                    </div>
                    <div class="sep"></div>
                </section>
                
                <!-- comments -->
                <section class="comments newsection" id="comments">
                    <h2 class="title">Comments</h2>
                    <ul>
                        {if $instance->user_comments != null}
                        {foreach $instance->user_comments item=comment}
                        <li>
                            <div class="comment">
                                <div class="author-img">
                                    <img src="" alt="">
                                </div>
                                <div class="comment-content">
                                    <p class="author">{$comment->name}  <span class="date">{$comment->creation|date_format:"%I:%M %p - %B %e, %Y"}</span> </p>
                                    <p>{$comment->body}</p>
                                </div>
                            </div>
                        </li>
                        {/foreach}
                        {else}
                        <p>Non ci sono commenti!!!</p>
                        {/if}
                    </ul>
                </section> 
                
                <div class="comment-form newsection">
                    <h2 class="title">Leave A Reply</h2>

                    <form>
                        <div class="row">
                            <p class="col-md-6">
                                <label>Name<span>*</span></label>
                                <input type="text" placeholder="Name" class="textflied">
                            </p>
                            <p class="col-md-6">
                                <label>Email<span>*</span></label>
                                <input type="text" placeholder="Email" class="textflied">
                            </p>
                            <p class="col-md-12">
                                <label>SUBJECT<span>*</span></label>
                                <input type="text" placeholder="Subject" class="textflied">
                            </p>
                            <p class="col-md-12">
                                <label>COMMENT<span>*</span></label>
                                <textarea rows="10" type="text" placeholder="comment" class="texttextarea"></textarea>
                            </p>
                            <p class="col-md-12">
                                <button class="btn btn-disabled">POST COMMENT</button>
                            </p>
                        </div> 
                    </form>

                </div> 
            </div>
        </div> 
    </div> 
</section>
{/if}